name: xdm-visualization-cron
on:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  xdm-visualization-cron:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.13'
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - run: bundle install
      - run: npm install -g grunt-cli
      - run: npm install
      - run: ./scripts/xdmVisual4Git.sh master https://github.com/adobe/xdm.git

